.container{
    padding: 5%;
    border-style: solid;
    margin-bottom: 50px;
}
.settings{
    margin-top: 50px;
    margin-bottom: 50px;
}
.time{
    border-style: solid;
    margin-left: 40%;
    margin-right: 40%;
    display:none;
    
}
.stats{
    text-align: center;
}
