.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    
  }
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    border-style: solid;
    border-color: grey;
}
.instructions{
  margin-top: 20%;
  
}

p {
  text-align: center;
  margin-top: 20%;
  font-size: 150%;
}


